body {
  font-family: 'EdmondsansRegularRegular';
}

#main-login, #main-verification {
  background: url(../images/login/bg-login.jpg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 5px;
}
#main-verification {
  padding-top: 60px;
}

.padding-no {
  padding: 0px;
}

/*LOGIN*/
/* MAIN LOGIN HEADING */
.heading-login {
  margin-bottom: 40px;
}
.heading-login h1 {
  font-family: 'Proxima Nova Thin';
  font-weight: normal;
  color: #FFF;
}

/* REGISTER */
.register-area {
  background: #FFF;
  padding: 25px 0px;
}
.account-create {
  text-align: center;
  color: #04b8ec;
  font-size: 20px;
  margin-bottom: 20px;
}
.register-border {
  border-top: 1px solid #cecece;
}
.register-border-left {
  border-left: 1px solid #cecece;
}
.register-area label {
  color: #ccc;
}
.register-area .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-area .form-control {
  border: none;
  box-shadow: none;
  padding: 0px;
  font-size: 18px;
}
.term {
  font-size: 13px;
}
.register-button {
  text-align: center;
}
.register-button button, .register-button button:hover {
  border-radius: 2px;
  border: 2px solid #464646;
  background: none;
  padding: 15px 15px;
  font-weight: bold;
}


/* LOGIN */
.account-login {
  color: #FFF;
  font-size: 20px;
  margin-top: 28px;
}
.login-area .form-control {
  border: 1px solid #686a71;
  background: none;
  color: white;
  border-radius: 0px;
  box-shadow: none;
  height: 55px;
}
.login-area .form-control:hover {
  border: 1px solid white;
}
.login-remember {
  color: #FFF;
}
.login-button button {
  width: 100%;
  border-radius: 0px;
  border: none;
  color: white;
  background: #00baec;
  padding: 15px 0px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
/* END LOGIN */


/*VERIFICATION*/

.verification-area {
  background: #FFF;
  padding-top: 25px;
}
.verification-area label {
  color: #464646;
  font-weight: normal;
}
.verification-area label, .verification-area h1 {
  font-family: 'Proxima Nova';
}
.account-verification {
  text-align: center;
  color: #04b8ec;
  font-size: 20px;
  margin-bottom: 20px;
}
.verification-area h1 {
  color: #8f8f8f;
  margin-left: 10px;
  font-weight: bold;
}
.verification-border {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.verification-border-right {
  border-right: 1px solid #cecece;
}
.verification-area .form-group {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px 15px;
}
.verification-area .form-control {
  border: 1px solid #d8d8d8;
  border-radius: 0px;
  box-shadow: none;
  height: 50px;
  margin-top: 10px;
}
.verification-button {
  text-align: center;
  margin-top: 30px;
}
.verification-button button, .verification-button button:hover {
  border-radius: 2px;
  border: 2px solid #464646;
  background: none;
  padding: 15px 80px;
  font-weight: bold;
}
/*END VERIFICATION*/

/*EMAIL VERIFICATION*/
.email-verification-area {
  background: #FFF;
  padding-top: 25px;
}
.email-verification {
  text-align: center;
  color: #04b8ec;
  font-size: 20px;
  margin-bottom: 20px;
}
.email-verification-area p {
  color: #464646;
  font-weight: normal;
  font-family: 'Proxima Nova';
}
.email-verification-area .form-group {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0px 15px;
}
.email-verification-button {
  text-align: center;
  margin-bottom: 40px;
}
.email-verification-button button, .email-verification-button button:hover {
  border-radius: 2px;
  border: 2px solid #464646;
  background: none;
  padding: 15px 15px;
  font-weight: bold;
}


/*END EMAIL VERIFICATION*/


@media (max-width: 767px) {
  /* PAGE LOGIN */
  .padding-no {
    padding: 15px;
  }
  #path-menu ul li:first-child {
    padding: 0px 5px;
  }
  #path-menu ul li {
    display: inline;
    font-size: 12px;
    margin: none;
    border-left: 1px solid #8f8f8f;
    padding: 0px 5px;
  }
  .heading-login {
    margin-bottom: 20px;
  }
  .heading-login h1 {
    font-size: 25px;
  }
  .verification-border-right {
    border-bottom: 1px solid #cecece;
  }
  .account-create {
    font-size: 18px;
  }
  .verification-area h1 {
    margin: 0px;
    font-size: 30px;
  }
  .verification-area .form-group {
    margin-bottom: 20px;
  }

  .email-verification-area .form-group {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0px 0px;
  }
  #main-verification {
    min-height: 520px !important;
  }
  /* END LOGIN */
}

@media (max-width: 991px) {

}