@media screen and (min-width: 768px) {
.equal {
    display: table;
}
  .equal [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}#content{
	height: 100%;
	padding-left: 0;
}
#content-nav{
	background-color: #2F323B;
	padding: 0px;
}
#content-nav ul{
	margin: 0px;
	padding: 0px;
}
#content-nav ul li{
	margin: 10px 0 10px 0;
	text-transform: uppercase;
	color: white;
	font-family: 'EdmondsansRegularRegular';
	font-size: 14px;
	padding:10px 10px 10px 60%;
}
#content-nav ul .active, #content-nav ul li:hover {
	background: #24272e;
}
#content-nav ul a{
	color:white;
	text-decoration: none;
}
#content-nav ul .active a, #content-nav ul li:hover a{
	color: #5bd3f3;
	background: url(../images/arrow-content-nav.png) no-repeat 0px center;
	padding-left: 30px;
	text-decoration: none;
}
#content .add-new-post{
  background-color: white;
  background: url(../images/long-arrow.png) no-repeat 120px center;
  color: black;
  border: 1px solid;
  font-family: 'EdmondsansRegularRegular';
  padding: 5px 15px 5px 0px;
  width: 150px;
}
#content .content-fill{
	padding:20px 0 10px 25px;
	font-family: 'Proxima Nova';
}
#content .content-fill #post{
	padding-top:20px;
}
#content .content-fill #post ul{
	padding: 0px;
	margin: 0px;
}
#content .content-fill #post ul li{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	color: #8f8f8f;
	font-family: 'EdmondsansRegularRegular';
	font-size: 12px;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
}
#content .content-fill #post ul li a{
	font-weight: bold;
	color:#999999;
}
#content .content-fill #post ul .active a{
	color:black;
}
#content .content-fill #post ul li:first-child {
	border-right: 1px solid #8f8f8f;
}
#content .content-fill #post ul .search, #content .content-fill #post ul .search {
	float: right;
	margin: 0px;
}
#content .content-fill #post ul .search input {
	border: 1px solid #9EE5FB;
	font-family: 'EdmondsansRegularRegular';
	text-transform: uppercase;
	padding: 5px 5px 5px 10px;
	background: url(../images/search.png) no-repeat 120px center;
}

#content .table-myarticle{
	margin-top: 	30px;
	border:1px solid #d7d7d7;
}
#content .table-myarticle thead{
	font-family: 'EdmondsansRegularRegular';
}
#content .table-myarticle tbody{
	background: #f8f8f8;
	font-family: 'Proxima Nova';
	color: #464646;
}

#content .table-myarticle .action-left{
	float: 	left;	
}

#content .table-myarticle .action-right{
	float: 	right;	
}
#content .content-fill #post table ul li{
	text-transform: capitalize;	
	font-size: 	12px;
	font-family: 'Proxima Nova';
}
#content .content-fill #post table ul .published  {
	border-right: 	none;}

#content .content-fill #post ul .published a{
	color: #f79942;}

#content .content-fill #post ul .draft a{
	color: #b60000;}
#content .content-fill #post ul .publish-now a{
	color: #5bd3f3;}

#content .table-myarticle .orange{	
  border-radius: 50%;
  background: #fad165;
  padding: 7px;
  width: 32px;
  text-align: center;
}

#content .table-myarticle .gray{	
  border-radius: 50%;
  background: #c8c8c8;
  padding: 7px;
  width: 32px;
  height: 32px;
  text-align: center;
}

#content .showing{
	text-align: right;
	font-family: 'EdmondsansRegularRegular';
}

.custom-pager{
	margin-top: 20px;
	margin-bottom: 50px;
}

#content .content-fill #post .custom-pager ul li  {
	border-right: 	none;
	margin:0;
	padding: 0;
}

#content .content-fill #post .custom-pager ul li a  {
	border: 1px solid #9fe5f8;
	color: #9fe5f8;
	border-radius: 0;
}
#content .content-fill #post .custom-pager ul .active a, #content .content-fill #post .custom-pager ul li a:hover    {
	background: #9fe5f8;
	color: white;
}

/* Write Travel */

#content h1{
	color: #646464;
	text-transform: uppercase;
}

#content hr{
	border: 1px solid #d7d7d7;
}
.content-fill form{
	margin-top: 30px;
}
.content-fill span{
	font-size: 10pt;
}
.content-fill form .form-control{
	width: 80%;
}
.content-fill form label{
	font-size: 12pt;
	text-transform: uppercase;
	color: #A0A0A0;
	font-weight: normal;
	margin: 10px 0 10px 0;
}
.content-fill form input, .content-fill form textarea{
	border-radius: 2px;
	margin-bottom: 10px;
}
.content-fill form .red{
	color: red;
	font-weight: bold;
}
.content-fill form .blue{
	color: #1EADED;
}
.content-fill form .btn{
	background: white;
	border-radius: 3px;
	text-transform: uppercase;
	margin: 25px 25px 25px 0;
}
.content-fill form .btn-save{
	border: 2px solid #C43131;
	color: #C43131;
}
.content-fill form .btn-publish{
	border: 2px solid #1EADED;
	color: #1EADED;
}
.content-fill .ingredients ul{
	padding: 0;
}
.content-fill .ingredients div{
	width: 10px;
	color: #646464;
}
.content-fill .ingredients .form-control, .content-fill .ingredients div {
	display: inline-block;
	margin-right: 20px;
}
#content .content-fill #post .list-button li {
	float: right;
	border-right: none !important;
}

.list-button .browse{
	background: #5BD3F3;
	text-transform: uppercase;
	font-family: 'EdmondsansRegularRegular';
	color: white;
	border: 1px solid #5BD3F3;
	padding: 5px 10px 5px 10px;
}
#content .table-whistlist{
	font-family: "Proxima Nova";
}

#content .table-whistlist .author{
	font-family: "Proxima Nova";
	vertical-align: middle;
}
#content .table-whistlist .tittle{
	color: #5BD3F3;
	font-weight: bold;
}
#content .table-whistlist .author, #content .table-whistlist .edit, #content .table-whistlist .add-note {
	color: #5BD3F3;
}
#content .table-whistlist .remove-list {
    color:#B2B2B2;
}
#content .table-whistlist .vertical-align-center{
	vertical-align: middle;
	text-align: center;
}
#content .table-whistlist textarea{
	border:none;
}
#content .table-whistlist .note{
	border-top:1px dotted;
	text-align: justify;
}

#content .table-whistlist .dropdown-schedule{
	width: 90px;
}
#content .table-whistlist .label-schedule{
	display: inline-block;
	width: 42px;
}

/*mobile*/
#content-nav-mobile .navbar-default{
	background: #25282F;
	margin: 10px;
}
#content-nav-mobile .navbar-default a, #content-nav-mobile .navbar-default i{
	color: #1CACEB;
}
#content-nav-mobile .navbar-default ul li:hover,#content-nav-mobile .navbar-default ul .active a {
	background: black;
}
#content-nav-mobile .navbar-default button{
	background: none;
	border:none;
}
#content .table-myarticle-mobile{
	margin-top: 	30px;
	border:1px solid #d7d7d7;
}
#content .table-myarticle-mobile thead{
	font-family: 'EdmondsansRegularRegular';
}
#content .table-myarticle-mobile tbody{
	background: #f8f8f8;
	font-family: 'Proxima Nova';
	color: #464646;
}

#content .table-myarticle-mobile tbody tr td{
	border-top: none;
}

#content .table-myarticle-mobile .action-left{
	float: 	left;	
}

#content .table-myarticle-mobile .action-right{
	float: 	right;	
}
#content .content-fill #post table ul li{
	text-transform: capitalize;	
	font-size: 	12px;
	font-family: 'Proxima Nova';
}
#content .content-fill #post table ul .published  {
	border-right: 	none;}
#content .table-myarticle-mobile .orange{	
  border-radius: 50%;
  background: #fad165;
  padding: 7px;
  width: 32px;
  text-align: center;
  margin: auto;
}

#content .table-myarticle-mobile .gray{	
  border-radius: 50%;
  background: #c8c8c8;
  padding: 7px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin: auto;
}
#content .table-myarticle-mobile h3 {
	margin-top: 5px;
}
#content .table-myarticle-mobile td {
	width: 30%;
}


#content .table-whistlist-mobile{
	border:1px solid #d7d7d7;
	margin-top: 10px;
}
#content .table-whistlist-mobile tbody{
	background: #f8f8f8;
	font-family: 'Proxima Nova';
	color: #464646;
}
#content .table-whistlist-mobile tbody tr td{
	border-top: none;
}
#content .table-whistlist-mobile .author{
	font-family: "Proxima Nova";
	vertical-align: middle;
}
#content .table-whistlist-mobile .tittle{
	color: #5BD3F3;
	font-weight: bold;
}
#content .table-whistlist-mobile .author, #content .table-whistlist-mobile .edit, #content .table-whistlist-mobile .add-note {
	color: #5BD3F3;
}
#content .table-whistlist-mobile .remove-list {
    color:#B2B2B2;
}
#content .table-whistlist-mobile .vertical-align-center{
	vertical-align: middle;
	text-align: center;
}
#content .table-whistlist-mobile textarea{
	width: 90%
}
#content .table-whistlist-mobile .note{
	border-top:1px dotted;
	text-align: justify;
}

#content .table-whistlist-mobile .dropdown-schedule{
	width: 90%;
}
#content .table-whistlist-mobile .label-schedule{
	display: inline-block;
	width: 42px;
}
#content .table-whistlist-mobile h3 {
	margin-top: 5px;
	text-transform: uppercase;
	font-family: 'EdmondsansRegularRegular';
}
#content .table-whistlist-mobile td {
	width: 30%;
}
#content .table-whistlist-mobile .action-left{
	float: 	left;	
}

#content .table-whistlist-mobile .action-right{
	float: 	right;	
}