.black-box {
	background-color: #262a32;
	width: 100%;
	min-height: 300px;
	color: #fefefe;
	margin-top: -15px;
}

.black-box .title-box {
	padding: 35px 30px 5px;
	font-size: 24px;
	text-transform: uppercase;
	color: #1eacec;
}

h3.subtitle-box {
	font-size: 32px;
	color: #fefefe;
	font-family: 'EdmondsansRegularRegular';
}

.left-box, .right-box {
	width: 50%;
	float: left;
}

.left-box {
	padding: 0px 5px 20px 30px;
}

.right-box {
	padding: 7px 30px 0px 25px;
}

.container-box {
	padding-bottom: 30px; 
}

.input-group label {
	font-family: 'Proxima Nova Thin';
}

@media (max-width: 767px) {
	.left-box, .right-box {
		width: 100%;
		float: none;
	}

	.input-group {
		padding-left: 25px;
	}
}